.card__item-button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  min-width: 20.76px;
  min-height: 18.13px;
  /*background-image: url(../../../images/heart.svg);*/
  margin-top: 6px;
  margin-right: 7.24px;

}

.card__item-button:hover {
opacity: 0.6;
}

.card__item-button:focus {
  outline: none;
}
