.elements {
  margin: 0 auto;
  margin-top: 46.25px;
  max-width: 882px;
  display: grid;
  grid-template-columns: repeat(3, minmax(282px, 1fr));
  grid-template-rows: repeat(2, minmax(361px, 1fr));
  grid-gap: 18px;
}

@media screen and (min-width: 320px) and (max-width: 882px) {
  .elements {
    max-width: 282px;
    grid-template-columns: repeat(1, minmax(282px, 1fr));
    grid-template-rows: repeat(6, minmax(361px, 1fr));
    grid-gap: 20px;
  }
}

