@import url(./__container/popup-place__container.css);
@import url(./__image/popup-place__image.css);
@import url(./__title/popup-place__title.css);
@import url(./__close/popup-place__close.css);

.popup-place {

  position: fixed;

  top: 0;
  left: 0;
  padding: 90px;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0,0.9);

  /*display: none;*/
  z-index: 10;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;

}

